<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M4ControlsExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
      <M4ControlsExplorer.Properties.Settings>
        <setting name="Application" serializeAs="String">
          <value />
        </setting>
        <setting name="AllModules" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Module" serializeAs="String">
          <value />
        </setting>
        <setting name="AllFiles" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="File" serializeAs="String">
          <value />
        </setting>
      </M4ControlsExplorer.Properties.Settings>
    </userSettings>
</configuration>